
.h-center {
    display: flex;
    justify-content: center;
}

.full-width {
    display: block;
    
    width:100%;
    max-width: 650;
}


/* #max-height {
 max-height: 50vh;   
} */

.text {
    background:red;
}

.margin-auto {
    text-align: center;
}

.full-width {
    width:100%;
    display: block;
}

.background-image {
    height: 40vh;
    margin-top:1.5rem;
    background: url('https://cdn.pixabay.com/photo/2018/11/04/11/49/dawn-3793717__340.jpg');
    background-size: cover;
    background-position: center center;
}