#footer {
    padding-top:10%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./../../img/google-nonprofit.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}