#header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./../../img/shri-vitthal-mandir-location.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.max-width-columns {
    margin:0 auto;
    max-width: 1140px;
}

.background-image {
    padding:15%;
    background: red;
}

.v-center {
    justify-content: center;
    display: flex;
    align-items: center;
}

#ul {
    display: inline;
    margin:0;
    padding:0;
}

.add-padding {
    padding:0.8rem 0.8rem 1rem 0.8rem;
}